.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #181818;
    margin: 0;
    z-index: 999;
}
.header a {
    text-decoration: none;
    text-decoration-color: none;
}
.header-logo {
    height: inherit;
    width: 280px;
    margin: 0 0;
    float: left;
}

.search-form {
    float: left;
    max-width: 500px;
    width: 100%;
    padding: 15px;

}

.logo-img {
    height: inherit;
    padding: 10px 25px;
    max-width: 500px;

}
.logo-img:hover ~ .logo-img-ani {
    -webkit-animation-name: in; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: in;
    animation-duration: 3s;
}

.logo-img-ani {
    height: inherit;
    position:relative;
    left: -107px;
    background: #181818;

}
.logo-img-ani:hover {
    -webkit-animation-name: in; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: in;
    animation-duration: 3s;
}

@-webkit-keyframes in {
    0%   {}
    50%  { left:-30px;}

}
@-webkit-keyframes out {
    0%   {}
    50%  { left:-30px;}
}
.search-input {
    float: left;
    border: 0;
    height: 40px;
    width: 70%;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search-submit {
    background: #00b1ff;
    padding: 0;
    border: 0;
    margin: 0;
    float: left;
    height: 40px;
    cursor: pointer;
    width: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tool-bar {
    float: left;
    max-width: 200px;

}
.cart-tool-bar {
    float: right;
    max-width: 200px;

}
.tool-selling {
    float: left;
    height: 100px;
    height: inherit;

}

.tool-selling-btn {
    height: 70px;
    background: none;
    color: #00b1ff;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.tool-selling {
    height: inherit;
    width: 200px;
    margin: 0 0;
    float: left;
}
.tool-cart {
    height: inherit;
    width: 200px;

}
.toggle {
    float: left;
    display: none;
    background: #F5F5F5;
    border-style: solid;
    border-width: thin;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 200px;
}

.toggle-list {
    list-style: none;
    padding: 0 10px;
    max-width: 200px;
}

.toggle-list li {
    padding: 10px 10px;

}

.tool-selling:hover ~ .selling-toggle {
    display: block;
}

.selling-toggle:hover {
    display: block;
}

.tool-cart:hover ~ .selling-toggle {
    display: block;
}
.tool-cart a {
    color: #00B1FF;
}

.selling-toggle:hover {
    display: block;
}


.login{
    float: right;
    height: inherit;

}

.header-btn {
    padding: 0 20px;
    color: #00B1FF;
    background: inherit;
    float: left;
    height: 100%;
    cursor: pointer;
}
.header-btn a {
    color: #00B1FF;
}
.tool-selling-btn i {
    padding: 12px;
}
.checkout {
    float: right;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 90%;
    border-radius: 5px;
    background: #00B1FF;
}
.checkout a {
    color: #FFF;
}
.clear {
    clear: both;
}
