.header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    background: #181818;
    margin: 0;
}

.header-logo {
    height: inherit;
    width: 200px;
    margin: 0 0;
    float: left;
}

.search-form {
    float: left;
    margin: 10px;
    max-width: 500px;
    width: 100%;

}

.logo-img {
    height: inherit;
    padding: 0px 0px;
    max-width: 200px;
}

.search-input {
    float: left;
    border: 0;
    height: 40px;
    width: 70%;
}

.search-submit {
    background: #00b1ff;
    padding: 0;
    border: 0;
    margin: 0;
    float: left;
    height: 40px;
}
.toolbar {
    float: left;
}
.tool-selling{
    height: inherit;
}
.tool-selling-btn {
    height: inherit;
    background: none;
    color: #00b1ff;
    border: 0;
    padding: 0;
    margin: 0;
}
.tool-selling {
    height: inherit;
    width: 200px;
    margin: 0 0;
    float: left;
}
.selling-toggle {
    float: none;
}
